@font-face {
  font-family: "Inter";
  src: url(../../../assets/fonts/Inter-VariableFont_slnt\wght.ttf) format("ttf");
}

html {
  font-size: 62.5%;

  @media screen and (min-width: 47.25rem) {
    & {
      font-size: 75%;
    }
  }
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

p {
  font-size: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
